*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000 0,01%;
    margin: 0;
    padding-left: 0;
}

.navbar{
    text-align: center;
    margin-top: 25px;
}
/* кооментарий */

.menu-item{
    list-style: none;
    text-transform: uppercase;
    display: inline;
    margin-left: 72px;
}

.menu-link{
    font-weight: 700;
    color: #FF0000;
    text-decoration: none;
    letter-spacing: 2.7px;
    line-height: 18px;
}

.content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image{
    width: 100%;
    height: 50%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.head-title{
    font-weight: 700;
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 38px;
    letter-spacing: 3.3px;
    line-height: 26px;
} 


.about{
    font-weight: 400;
    color: #373737;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 28px;
    letter-spacing: 2.4px;
    line-height: 26px;
}

.button{
    display: inline;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF0000;
    letter-spacing: 1.8px;
    line-height: 12px;
    border-radius: 4px;
    border: none;
    width: 190px;
    height: 50px;
    margin-top: 40px;
}

.footer-information{
    font-weight: 700;
    color: #373737;
    letter-spacing: 2.4px;
    line-height: 20px;
    text-align: right;
    margin-top: 82px;
    margin-bottom: 30px;
}